# Except this file !.gitignore
.classpath
.project
.settings
target
.idea
.vscode
.DS_Store
.factorypath
/logs
*.iml
node_modules
test/derby.log
derby.log
work
test/logs
derby.log
yarn.lock
.flattened-pom.xml

/cluster/nacos-15001/data/**
/cluster/nacos-15001/status/**
/cluster/nacos-15001/logs/**

/cluster/nacos-15002/data/**
/cluster/nacos-15002/status/**
/cluster/nacos-15002/logs/**

/cluster/nacos-15003/data/**
/cluster/nacos-15003/status/**
/cluster/nacos-15003/logs/**
